<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="/">Accueil</a></li>
    <li class="nav-articles" role="menuitem"><a href="/tag/vice-city/">Vice City</a></li>
    <li class="nav-articles" role="menuitem"><a href="/tag/los-santos/">Los Santos</a></li>
    <li class="nav-articles" role="menuitem"><a href="/tag/liberty-city/">Liberty-City</a></li>
    <li class="nav-articles" role="menuitem"><a href="/tag/san-fierro/">San Fierro</a></li>
    <li class="nav-articles" role="menuitem"><a href="/tag/las-venturas/">Las Venturas</a></li>
    <li class="nav-about" role="menuitem"><a href="/a-propos/">À Propos</a></li>
</ul>
